@font-face {
    font-family: Inter;
    src: url("../Inter/Inter-VariableFont_slnt\,wght.ttf");
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(63, 63, 63);
    font-family: 'Inter', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#main {
    margin: auto;
    text-align: center;
    margin-top: 30vh;
    z-index: 1;
}
h3 {
    color: rgb(100, 248, 100);
    font-size: 2em;
    font-weight: 500;
    letter-spacing: .2rem;
}
p {
    font-size: 1.2em;
    color: white;
    width: 20em;
    margin: auto;
    margin-bottom: 1em;
}
a {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}