@font-face {
    font-family: Inter;
    src: url("../Inter/Inter-VariableFont_slnt\,wght.ttf");
}
body {
    background-color: rgb(63, 63, 63);
    font-family: 'Inter', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main {
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 30vh;
    z-index: 1;
}
h1 {
    color: rgb(167, 68, 68);
    margin: auto;
}
image {
    width: 20em;
    height: auto;
}
a {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}